*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    border:0
}
header{
    background-image: linear-gradient(-90deg, rgb(26, 26, 13), rgb(22, 45, 90));
}
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 25px;
    color: white;
}
#btnOne{
    background-color:green;
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
    background: red;
    transition: 1s;
}

#tableHead{
    background-color:rgb(17, 40, 62);
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #ced4da;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}body{
    background-image: url('Velocity.jpg');
    background-repeat: no-repeat; 
    background-size: cover;;
    background-position: center;
  
}